.contact-page {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.container {
    height: 100px;
    width: auto;
}

.image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }